<template>
    <div class="row mb-4">
        <router-link :to="{ name: 'user', params: { id: '' } }" class="btn btn-primary ml-auto">Create User</router-link>
    </div>
    <div class="row">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users" :key="user.id">
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>
                    <router-link :to="{ name: 'user', params: { id: user.id } }" class="btn btn-primary mr-1">Show</router-link>
                    <button @click="deleteCompany(user.id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import useUsers from '../composables/user'
import { onMounted } from 'vue';

export default {
    setup() {
        const { users, getUsers, destroyUser } = useUsers()

        onMounted(getUsers)

        const deleteCompany = async (id) => {
            if (!window.confirm('Are you sure?')) {
                return
            }

            await destroyUser(id)
            await getUsers()
        }

        return {
            users,
            deleteCompany
        }
    }
}
</script>

<style>
 tr td:last-child {
     width:1px;
     white-space:nowrap;
 }
</style>
