<template>
    <div class="row d-column justify-content-center">
        <form class="col-6">
            <div class="mb-2 text-danger" v-if="errors !== ''">
                {{ errors }}
            </div>
            
            <div class="form-group">
                <label for="fname">First name</label>
                <input v-model="user.first_name" name="first_name" type="text" class="form-control" id="fname">
            </div>
            <div class="form-group">
                <label for="lname">Last name</label>
                <input v-model="user.last_name" name="last_name" type="text" class="form-control" id="lname">
            </div>
            <button v-if="props.id" @click.prevent="saveUser" class="btn btn-primary">Save</button>
            <button v-else @click.prevent="createUser" class="btn btn-primary">Add</button>
            <router-link :to="{ name: 'overview' }" class="btn ml-1 btn-danger">Cancel</router-link>
        </form>
    </div>
</template>

<script>
import useUsers from '../composables/user'
import { onMounted } from 'vue';

export default {
    props: {
        id: {
            required: false,
            type: String
        }
    },

    setup(props) {
        const { errors, user, updateUser, storeUser, getUser } = useUsers()

        onMounted(() => {
            if (props.id != '') {
                getUser(props.id)
            }
        })

        const saveUser = async () => {
            await updateUser(props.id)
        }

        const createUser = async () => {
            await storeUser({...user.value})
        }

        return {
            props,
            errors,
            user,
            saveUser,
            createUser
        }
    }
}
</script>
